<div class="home">
    <div class="menu">
        <mat-card routerLink="{{navItems.popularMovies}}" class="menu-item">
            <mat-card-title>Popular movies</mat-card-title>
        </mat-card>
        <mat-card routerLink="{{navItems.searchMovies}}" class="menu-item">
            <mat-card-title>Search movies</mat-card-title>
        </mat-card>
        <mat-card routerLink="{{navItems.popularTvShows}}" class="menu-item">
            <mat-card-title>Popular TV shows</mat-card-title>
        </mat-card>
        <mat-card routerLink="{{navItems.searchTvs}}" class="menu-item">
            <mat-card-title>Search TV shows</mat-card-title>
        </mat-card>
    </div>
    <div class="footer">
        <a href="https://www.themoviedb.org/" target="_blank"><img src="assets/tmdb_logo.svg"></a>
    </div>
</div>