<mat-card class="mat-elevation-z4">
    
    <img
      mat-card-image
      src="{{'https://image.tmdb.org/t/p/w500/' + movieElement?.poster_path}}"
    />
    <mat-card-header>
        <mat-card-title>{{movieElement?.title}}</mat-card-title>
      </mat-card-header>
    <mat-card-content>
      <p>Original({{movieElement?.original_language}}): {{movieElement?.original_title}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>