<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="listObject">
        <div fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="25%" fxFlex.lg="20%" fxFlex.xl="15%" 
        *ngFor="let cardElement of listObject?.results">
            <a routerLink="{{cardElement.url_path}}">
                <app-list-card [cardElement]="cardElement"></app-list-card>
            </a>
        </div>
    </div>
</div>
<h3 *ngIf="enableNothingToShow && listObject?.results?.length == 0">Nothing to show</h3>