mat-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    overflow: hidden;
}

mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    align-items: flex-start;
}

@media (max-width: 767px) {
    mat-card-content {
        flex-direction: column;
        align-items: center;
    }
}

.poster-container {
    width: 40%;
}

.poster {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.details {
    flex: 1;
    margin-left: 20px;
}

p {
    text-align: justify;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
}

.info-value {
    flex: 1;
    overflow-wrap: break-word;
}