.movie-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .movie-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }
  
  @media (max-width: 767px) {
    .movie-content {
      flex-direction: column;
    }
  }
  
  .movie-poster-container {
    width: 250px;
  }
  
  .movie-poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .movie-details {
    flex: 1;
    margin-left: 20px;
  }
  
  .movie-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .movie-info {
    display: flex;
    flex-direction: column;
  }
  
  .movie-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .movie-info-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .movie-info-value {
    flex: 1;
    overflow-wrap: break-word;
  }