<mat-card>
    <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>{{ movie.tagline }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="getBackdropUrl()" alt="{{ movie.title }} backdrop">
    <mat-card-content>
        <p>{{ movie.overview }}</p>
        <p><strong>Release date:</strong> {{ movie.release_date | date:'mediumDate' }}</p>
        <p><strong>Genres:</strong> {{ getGenres() }}</p>
        <p><strong>Production Companies:</strong> {{ getProductionCompanies() }}</p>
        <p><strong>Production Countries:</strong> {{ getProductionCountries() }}</p>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://www.imdb.com/title/{{ movie.imdb_id }}/" target="_blank"><button mat-raised-button color="primary">View on IMDB</button></a>
        <!-- <button mat-button><a href="{{ getTrailerUrl() }}" target="_blank">Watch Trailer</a></button> -->
    </mat-card-actions>
</mat-card>