  <mat-card class="movie-card">
    <mat-card-content class="movie-content">
      <div class="movie-poster-container">
        <img src="{{ movie.poster_path ? 'https://image.tmdb.org/t/p/w500/' + movie.poster_path : 'assets/no-image-available.png' }}" class="movie-poster">
      </div>
      <div class="movie-details">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <div class="movie-info">
          <div class="movie-info-row">
            <span class="movie-info-label">Release Date:</span>
            <span class="movie-info-value">{{ movie.release_date }}</span>
          </div>
          <div class="movie-info-row">
            <span class="movie-info-label">Runtime:</span>
            <span class="movie-info-value">{{ movie.runtime }} mins</span>
          </div>
          <div class="movie-info-row">
            <span class="movie-info-label">Genres:</span>
            <span class="movie-info-value">{{ getGenres() }}</span>
          </div>
          <div class="movie-info-row">
            <span class="movie-info-label">Overview:</span>
            <span class="movie-info-value">{{ movie.overview }}</span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  
  